body{
    margin: 0;
    width: 100vw;
    background-color: #EDEEF0;
    min-height: 200vh;
    overflow-x: hidden;
    padding-top: 150px;
}
/*Классы шапки*/
header{
    width: 100%;
    padding: 15px 0 15px 0;
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 3px 10px 5px gray;
}
header > .container{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
ul.header_list{
    padding: 0;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
ul.header_list > li{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 20px;
}
.header_list a:link{
    text-decoration: none;
}
.header_list a:active{
    text-decoration: none;
    color: black;
}
.header_list a:visited{
    text-decoration: none;
    color: black;
}
#scrollBar{
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 0;
    background-color: #66696E;
}




/*Классы мэйна*/
main{
    width: 60%;
    margin: auto;
    background-color: white;
    border: 3px solid #E7E8EC;
    padding-top: 50px;
    font-family: 'Hachi Maru Pop', cursive;
}
section{
    min-height: 400px;
    margin: auto;
    margin-bottom: 100px;
    width: 90%;
    border-bottom: solid 2px black;
}
section h2{
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
li.active a{
    color: red;
}
header ul li a{
    color: black;
}



/*Классы о нас*/

section.about{
    border: 2px solid gold;
}
.about p{
    text-align: center;
    font-size: 20px;
}


/*Классы калькулятора*/
section.calc{
    height: 400px;
}
.calc > .container{
    width: 100%;
    height: 80%;
    box-shadow: 0 0 6px 6px lightgray;
    display: flex;
    align-items: center;
}
.calc .container > .options{
    height: 80%;
    width: 65%;
    border-right: 2px solid black;
}


/*Классы товаров*/
.goods .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}
.goods .container .product{
    width: 250px;
    height: 100px;
    border: 2px solid grey;
    margin-bottom: 10px;
}
.product h3{
    text-align: center;
}


/*Классы слайдера*/
.last_news{
    padding-bottom: 100px;
}
.last_news .container{
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
}
.slider{
    width: 80%;
    transition: scroll, box-shadow 1s linear;
    margin: auto;
    overflow: hidden;
    scroll-behavior: smooth;
}
.slide-shadow{
    box-shadow: 0px 0px 10px 10px lightgray;
}
.slider .wrapper{
    display: flex;
    width: 1800px;
}
.slide{
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
}
.slide > .text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.slide > img{
    width: 40%;
}
.slide.text-only{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.slide.text-only > p{
    width: 80%;
    text-align: center;
}
.slide.img-only{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.slide.img-only > img{
    width: 80%;
}
.pointer_left, .pointer_right{
    position: absolute;
    width: 30px;
    width: 10%;
    cursor: pointer;
}
.pointer_left{
    left: 0;
}
.pointer_right{
    right: 0;
}


/*Классы переключателя темы*/
.theme-changer{
    width: 15%;
    display: flex;
    flex-direction: column;
    font-family: 'Monoton';
    font-size: 30px;
    align-items: center;
}
.theme-changer p{
    margin: 0;
}
.theme-btn{
    height: 20px;
    background-color: #EFEFEF;
    width: 40px;
    border-radius: 100px;
    position: relative;
}
.theme-btn .circle{
    width: 50%;
    height: 100%;
    background-color: #F0F0F0;
    box-sizing: border-box;
    border: 2px #E1E1E1 solid;
    border-radius: 100px;
    transition: right 200ms ease;
    position: absolute;
    right: 49%;
}
.theme-btn.right-side .circle{
    right: 0;
}
.theme-btn.right-side{
    background-color: #02AE49;
}
.text-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
